.weather-component {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.weather-component > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-component .container {
  width: 90%;
  max-width: 600px;
  height: 370px;
  background: linear-gradient(
    45deg,
    var(--primary-background-bold) 70%,
    var(--secondary-background-bold)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  border-radius: 20px;
  color: var(--primary-font-color);
}
.weather-component .container form {
  width: 90%;
  display: flex;
  justify-content: space-between;
  min-height: 42px;
  font-size: 17px;
}
.weather-component .container form input {
  width: 80%;
  border-radius: 13px;
  padding-left: 10px;
  height: 100%;
}
.weather-component .container form input:focus {
  outline: none;
}
.weather-component .container form button {
  color: var(--primary-font-color);
  background: linear-gradient(
    45deg,
    var(--primary-background) 70%,
    var(--secondary-background)
  );
  width: 15%;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: inherit;
}
.weather-component .container h2 {
  margin: 20px;
}
.weather-component .container .date {
  font-style: italic;
  font-size: 15px;
  margin-bottom: 10px;
}
.weather-component .container h1 {
  font-size: 55px;
}
.weather-component .container .weather-info {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}
.weather-component .container .loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.weather-component .container .loading .circle {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-top-color: steelblue;
  border-radius: 50%;
  animation: load 1s ease-in-out infinite;
}

.weather-component .container .no-info {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: red;
}

@keyframes load {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
