.todo-container {
  height: 100vh;
  width: 80vw;
  max-width: 900px;
  margin: auto;
  background: linear-gradient(
    45deg,
    var(--primary-background-bold) 70%,
    var(--secondary-background-bold)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-font-color);
  padding: 25px 15px;
}
.todo-container form {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: center;
  background: transparent;
  color: var(--primary-font-color);
  height: 20%;
  margin-bottom: 20px;
}
.todo-container input {
  width: 80%;
  margin: 0 13px;
  background: transparent;
  border: 2px solid var(--primary-font-color);
  border-radius: 15px;
  height: 35px;
  padding-left: 15px;
  color: inherit;
}
.todo-container form button {
  height: 35px;
  padding: 0 14px;
  font-size: 18px;
  color: inherit;
  background: linear-gradient(
    45deg,
    var(--primary-background) 70%,
    var(--secondary-background)
  );
  border: none;
  cursor: pointer;
}
.todo-container input:focus {
  outline: none;
}
.todo-container .todo-lists {
  height: 80%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}
.todo-container .todo-lists > div {
  width: 100%;
  margin: 0 10px;
  padding: 10px;
  border-bottom: 2px solid gray;
  cursor: pointer;
  font-size: 18px;
}
.spoil {
  text-decoration: line-through !important;
  color: rgb(88, 88, 88);
}
.todo-container p {
  text-decoration: inherit;
}
