.home-container {
  background: linear-gradient(45deg, #03070a 50%, #1c232f);
  height: 100vh;
  overflow: hidden;
}
main {
  width: 95%;
  margin: auto;
  height: 100vh;
  max-width: 1000px;
}

main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  margin: 15px 0;
  color: white;
}
main header button {
  padding: 10px 22px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #500201;
  color: white;
  border: none;
}
main .grid-container {
  display: grid;
  grid-template-areas:
    "clock clock clock todo"
    "news news weather todo"
    "news news weather todo"
    "chat chat chat chat";
  gap: 15px;
  grid-auto-rows: 165px;
}
main .grid-container > div {
  border-radius: 20px;
}
main .grid-container .clock {
  grid-area: clock;
  background-color: black;
}
main .grid-container .weather {
  grid-area: weather;
  background-color: gray;
}
main .grid-container .news {
  grid-area: news;
  background-color: green;
}
main .grid-container .todo {
  grid-area: todo;
  background-color: aqua;
}
main .grid-container .chat {
  grid-area: chat;
  background-color: blue;
}
