.home-container {
  background: linear-gradient(45deg, #03070a 50%, #1c232f);
  height: 100vh;
  background: white;
}
main {
  width: 80%;
  margin: auto;
  height: 100vh;
}
main .grid-container {
  display: grid;
  grid-template-areas:
    "clock clock clock todo"
    "news news weather todo"
    "news news weather todo"
    "chat chat chat chat";
  gap: 10px;
  grid-auto-rows: 160px;
}
main .grid-container .clock {
  grid-area: clock;
  background-color: black;
}
main .grid-container .weather {
  grid-area: weather;
  background-color: gray;
}
main .grid-container .news {
  grid-area: news;
  background-color: green;
}
main .grid-container .todo {
  grid-area: todo;
  background-color: aqua;
}
main .grid-container .chat {
  grid-area: chat;
  background-color: blue;
}
