.home-container {
  background: linear-gradient(45deg, #03070a 50%, #1c232f);
  height: 100vh;
  overflow: hidden;
}
main {
  width: 95%;
  margin: auto;
  height: 100vh;
  max-width: 1000px;
}

main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  margin: 15px 0;
  color: white;
}
main header button {
  padding: 10px 22px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #500201;
  color: white;
  border: none;
}
main .grid-container {
  display: grid;
  grid-template-areas:
    "clock clock clock todo"
    "news news weather todo"
    "news news weather todo"
    "chat chat chat chat";
  gap: 15px;
  grid-auto-rows: 165px;
  grid-auto-columns: 24%;
}
main .grid-container > div {
  border-radius: 20px;
  color: white;
  background: linear-gradient(45deg, #121a23 50%, #232b38);
}
main .grid-container .clock {
  grid-area: clock;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
main .grid-container .clock .weather-container {
  text-align: center;
  background-color: #242f3c;
  height: 80%;
  border-radius: 20px;
  padding: 0 20px;
  cursor: pointer;
}
main .grid-container .clock .weather-container:hover {
  background-color: #314052;
}
main .grid-container .clock .weather-container > div {
  display: flex;
  align-items: center;
  font-size: 29px;
  margin-top: -10px;
}
main .grid-container .weather {
  grid-area: weather;
}
main .grid-container .news {
  grid-area: news;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
main .grid-container .news .article-container {
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 10px;
  font-size: 13px;
}
main .grid-container .news .article-container article {
  padding: 10px;
  height: fit-content;
  border-radius: 20px;
  padding-bottom: 15px;
  background-color: #242f3c;
  cursor: pointer;
}
main .grid-container .news .article-container article:hover {
  background-color: #314052;
}
main .grid-container .todo {
  grid-area: todo;
  height: 100%;
  display: flex;
  border: 2px solid;
  padding: 15px;
}
main .grid-container .todo-list-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}
main .grid-container .todo-list-container .to-do {
  width: 100%;
  max-height: 30px;
  border-bottom: 2px solid gray;
}
main .grid-container .chat {
  grid-area: chat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
main .grid-container .chat img {
  width: max(3vw, 50px);
  border-radius: 50%;
  position: absolute;
  animation: rotate 1s linear infinite;
}
main .grid-container .chat .left-chat {
  bottom: 15px;
  left: 15px;
}
main .grid-container .chat .right-chat {
  top: 15px;
  right: 15px;
}
@media (max-width: 825px) {
  main .grid-container .news .article-container .description {
    display: none;
  }
  main .grid-container .news .article-container {
    display: flex;
    flex-wrap: wrap;
  }
  main .grid-container .news .article-container article {
    width: 48%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
