.sidebar-nav {
  width: 80px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  background: linear-gradient(
    45deg,
    var(--primary-background-bold) 70%,
    var(--secondary-background-bold)
  );
  color: var(--primary-font-color);
  min-height: 100vh;
  padding-top: 30px;
}
.sidebar-nav button {
  border: none;
  position: absolute;
  top: 10px;
  left: 10px;
}
.sidebar-nav a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  text-align: center;
  padding: 1vw 0;
}
.sidebar-nav a:hover {
  background: linear-gradient(
    45deg,
    var(--primary-background) 70%,
    var(--secondary-background)
  );
}
.sidebar-nav.expand-nav {
  width: 180px;
}
