.login-container {
  height: 100vh;
  display: flex;
  width: fit-content;
  transition: transform 1s ease-in-out;
  color: var(--primary-font-color);
}

.login-container .each-login-page {
  min-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    45deg,
    var(--primary-background) 55%,
    var(--secondary-background)
  );
  position: relative;
}
.login-container .each-login-page::before {
  content: "";
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--primary-sun);
}
.login-container .each-login-page .mode-button {
  position: absolute;
  right: 10px;
  top: 10px;
}
.login-container .each-login-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  max-width: 500px;
  z-index: 10;
}
.login-container .each-login-page form input {
  height: 40px;
  width: 100%;
  font-size: 23px;
  border-radius: 20px;
  padding-left: 15px;
  outline: none;
  border: none;
  box-shadow: 0 0 10px 2px var(--primary-hover-color);
  margin: 13px 0;
}
.login-container .each-login-page form input:focus {
  outline: none;
}
.login-container .each-login-page form button {
  width: 35%;
  font-size: 23px;
  padding: 3px;
  border: none;
  background: linear-gradient(
    45deg,
    var(--primary-background-bold) 55%,
    var(--secondary-background-bold)
  );
  cursor: pointer;
  color: inherit;
  border-radius: 20px;
}
.login-container .each-login-page form button:hover {
  box-shadow: 0 2px 7px var(--primary-hover-color);
}
.login-container .each-login-page form button:active {
  transform: translateY(1px);
}
