.login-container {
  height: 100vh;
  display: flex;
  width: fit-content;
  transition: transform 1s ease-in-out;
  color: var(--primary-font-color);
}

.login-container .each-login-page {
  min-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    45deg,
    var(--primary-background) 55%,
    var(--secondary-background)
  );
}
.login-container .each-login-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  max-width: 500px;
}
.login-container .each-login-page form input {
  height: 40px;
  width: 100%;
  font-size: 23px;
  border-radius: 10px;
  padding-left: 15px;
  outline: none;
  border: 2px solid #500201;
  margin: 13px 0;
}
.login-container .each-login-page form input:focus {
  outline: none;
}
.login-container .each-login-page form button {
  width: 35%;
  font-size: 23px;
  padding: 3px;
  border: none;
  background-color: #500201;
  box-shadow: 0 4px 2px #500201;
  cursor: pointer;
  color: inherit;
}
.login-container .each-login-page form button:active {
  box-shadow: none;
}
