@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
:root {
  --primary-background: #a7cae6;
  --secondary-background: #f2ccf7;
  --primary-background-bold: #aabece;
  --secondary-background-bold: #f0c2f7;
  --primary-font-color: #03070a;
  --primary-hover-color: #03070a41;
  --primary-heading-color: #09141d;
  --primary-sun: radial-gradient(
    closest-corner circle,
    #ffcf33,
    #ffcf33 20%,
    #ffff66 21%,
    transparent 70%,

    transparent 100%
  );
  --primary-white-color: rgb(255, 221, 252);
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  overflow: hidden;
}
.root {
  background: linear-gradient(
    45deg,
    var(--primary-background) 55%,
    var(--secondary-background)
  );
  width: 100vw;
  height: 100vh;
}
.root.dark-mode {
  --primary-background: #071016;
  --secondary-background: #1c232f;
  --primary-background-bold: #0a1720;
  --secondary-background-bold: #252f41;
  --primary-font-color: #fff4f4;
  --primary-hover-color: #93d0ff41;
  --primary-heading-color: #85b5db;
  --primary-white-color: #85b5db;
  --primary-sun: radial-gradient(
    closest-corner circle,
    #ccc,
    #ccc 20%,
    #445 21%,
    transparent 70%,
    var(--primary-background) 100%
  );
}
.gemini-total-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
}
